In [1]:
import requests, json

def get_data_by_id(id):
    url ="https://dashboardcovid.trial.opendatasoft.com/api/records/1.0/search/?dataset=covid-19-pandemic-belgium-hospitalisations-by-date-and-province&q=&sort=date&facet=date&facet=province&facet=region&refine.province="
    #"https://dashboardcovid.trial.opendatasoft.com/api/records/1.0/search/?dataset=covid-19-pandemic-belgium-hospitalisations-by-date-and-province&q=&sort=date&facet=date&facet=province&facet=region&refine.province=" + id
    #Anfrage für bestimmte Province absetzen über id
    result = requests.get(url=url) #Anfrage absetzen
    return json.loads(result.text)

In [2]:
import pandas as pd
# als dictionary
provincen= {'AdminUnitId': {
    "West-Vlaanderen" : "West-Vlaanderen",
    "Vlaams-Brabant" : "Vlaams-Brabant",
    "Namur" : "Namur",
    "Luxembourg" : "Luxembourg",
    "Limburg" : "Limburg",
    "Hainaut" : "Hainaut",
    "Brussels" : "Brussels",
    "Brabant Wallon" : "Brabant+Wallon", }}
# umwandlung in dataframe
df_provincen= pd.DataFrame(provincen)
df_provincen

                     AdminUnitId
Brabant Wallon    Brabant+Wallon
Brussels                Brussels
Hainaut                  Hainaut
Limburg                  Limburg
Luxembourg            Luxembourg
Namur                      Namur
Vlaams-Brabant    Vlaams-Brabant
West-Vlaanderen  West-Vlaanderen

## Provincen

In [3]:
west_vlaanderen_data = get_data_by_id("West-Vlaanderen")
vlaams_brabant_data = get_data_by_id("Vlaams-Brabant")
#oost-_vlaanderen_data = get_data_by_id("Oost-Vlaanderen")
namur_data = get_data_by_id("Namur")
luxembourg_data = get_data_by_id("Luxembourg")
liège_data = get_data_by_id("Li%C3%83%C2%A8ge") #deutscher Name Lüttich
limburg_data = get_data_by_id("Limburg")
hainaut_data = get_data_by_id("Hainaut")
brussels_data = get_data_by_id("Brussels")
brabant_wallon_data = get_data_by_id("Brabant+Wallon")
Antwerpen_data = get_data_by_id("Antwerpen&refine.date=2021")

In [4]:
#Probe ob es geht --> funktioniert
dict_west_vlaanderen  = west_vlaanderen_data['records'][0]['fields']  # west_vlaanderen_data in dict umwandeln
df_west_vlaanderen_data= pd.DataFrame(dict_west_vlaanderen) # in dataframe umwandeln

df_west_vlaanderen_data

,province,total_in_ecmo,new_in,total_in_resp,region,geo_point_2d,new_out,total_in_icu,nr_reporting,total_in,date
0,Antwerpen,3,38,42,Flanders,51.230127,41,91,14,425,2021-11-19
1,Antwerpen,3,38,42,Flanders,4.718478,41,91,14,425,2021-11-19

In [5]:
#Probe ob es geht --> leider nicht für  liège_data
dict_liège  = liège_data['records'][0]['fields']  # brussels_data in dict umwandeln

for key in : dict_liège
        print(key, ":", dict_liège[key])
#df_liège_data= pd.DataFrame(dict_liège) # in dataframe umwandeln

#df_liège_data

SyntaxError: invalid syntax (Temp/ipykernel_11004/890053323.py, line 4)

In [8]:
#Probe ob es geht
dict_brussels  = brussels_data['records'][0]['fields']  # brussels_data in dict umwandeln
df_brussels_data= pd.DataFrame(dict_brussels) # in dataframe umwandeln

df_brussels_data

,province,total_in_ecmo,new_in,total_in_resp,region,geo_point_2d,new_out,total_in_icu,nr_reporting,total_in,date
0,Antwerpen,3,38,42,Flanders,51.230127,41,91,14,425,2021-11-19
1,Antwerpen,3,38,42,Flanders,4.718478,41,91,14,425,2021-11-19

In [24]:
example_df = df_west_vlaanderen_data[['new_in', 'total_in', 'date']]
example_df.columns = ['Neue Patienen im Krankenhaus', 'Betten belegt', 'Datum']

print('West Vlaanderen')
example_df.head(1)

West Vlaanderen

   Neue Patienen im Krankenhaus  Betten belegt       Datum
0                            38            425  2021-11-19

In [10]:
for key in dict_brussels:
    print(key, ":", dict_brussels[key])

province : Antwerpen
total_in_ecmo : 3
new_in : 38
total_in_resp : 42
region : Flanders
geo_point_2d : [51.2301272595, 4.71847758132]
new_out : 41
total_in_icu : 91
nr_reporting : 14
total_in : 425
date : 2021-11-19

Wie kann ich mir nur bestimmte Werte ausgeben lassen? --> erledigt 

Warum geht die Abfrage für Liège nicht? Aber für andere schon?

## Definition um nur einzelne Daten zu extrahieren

In [12]:
#def extract_info(dictionary, cityname):
    #total_of_hospitalized_patients = dictionary['total_in']
    #number_of_new_hospital_intakes = dictionary['new_in']
    #datum = dictionary['date']
    #new_dict= {}
    #new_dict.update(Betten belegt = total_of_hospitalized_patients, Neue Patienen im Krankenhaus = number_of_new_hospital_intakes, Datum = datum )
    #dict_final = {}
    #dict_final [cityname] = new_dict 
   
    #return pd.DataFrame(dict_final) # Ausgabe als DataFrame - Zweck: Ansicht als Tabelle

In [27]:
def extract_info(df, cityname):
    print(cityname)
    df_new = df[['new_in', 'total_in', 'date']] #nur die wichtigen Infos
    df_new.columns = ['Neue Patienen im Krankenhaus', 'Betten belegt', 'Datum'] #Spalten-Namen ändern
    
    return df_new.head(1)

In [28]:
brussels = extract_info(df_brussels_data, "Brüssel")

brussels

Brüssel

   Neue Patienen im Krankenhaus  Betten belegt       Datum
0                            38            425  2021-11-19