In [1]:
import requests, json

def get_data_by_id(id):
    url ="https://dashboardcovid.trial.opendatasoft.com/api/records/1.0/search/?dataset=covid-19-pandemic-belgium-hospitalisations-by-date-and-province&q=&sort=date&facet=date&facet=province&facet=region&refine.province=" + id
    #Anfrage für bestimmte Province absetzen über id
    result = requests.get(url=url) #Anfrage absetzen
    return json.loads(result.text)

In [11]:
import pandas as pd
# als dictionary
provincen= {'AdminUnitId': {
    "West-Vlaanderen" : "West-Vlaanderen",
    "Vlaams-Brabant" : "Vlaams-Brabant",
    "Namur" : "Namur",
    "Luxembourg" : "Luxembourg",
    "Limburg" : "Limburg",
    "Hainaut" : "Hainaut",
    "Brussels" : "Brussels",
    "Brabant Wallon" : "Brabant+Wallon", }}
# umwandlung in dataframe
df_provincen= pd.DataFrame(provincen)
df_provincen

                     AdminUnitId
Brabant Wallon    Brabant+Wallon
Brussels                Brussels
Hainaut                  Hainaut
Limburg                  Limburg
Luxembourg            Luxembourg
Namur                      Namur
Vlaams-Brabant    Vlaams-Brabant
West-Vlaanderen  West-Vlaanderen

## Provincen

In [12]:
west_vlaanderen_data = get_data_by_id("West-Vlaanderen")
vlaams_brabant_data = get_data_by_id("Vlaams-Brabant")
#oost-_vlaanderen_data = get_data_by_id("Oost-Vlaanderen")
namur_data = get_data_by_id("Namur")
luxembourg_data = get_data_by_id("Luxembourg")
liège_data = get_data_by_id("Li%C3%83%C2%A8ge") #deutscher Name Lüttich
limburg_data = get_data_by_id("Limburg")
hainaut_data = get_data_by_id("Hainaut")
brussels_data = get_data_by_id("Brussels")
brabant_wallon_data = get_data_by_id("Brabant+Wallon")
Antwerpen_data = get_data_by_id("Antwerpen&refine.date=2021")

In [13]:
#Probe ob es geht --> funktioniert
dict_west_vlaanderen  = west_vlaanderen_data['records'][0]['fields']  # west_vlaanderen_data in dict umwandeln
df_west_vlaanderen_data= pd.DataFrame(dict_west_vlaanderen) # in dataframe umwandeln

df_west_vlaanderen_data

,province,total_in_ecmo,new_in,total_in_resp,region,geo_point_2d,new_out,total_in_icu,nr_reporting,total_in,date
0,West-Vlaanderen,0,40,26,Flanders,51.012034,61,68,11,418,2021-11-16
1,West-Vlaanderen,0,40,26,Flanders,3.056342,61,68,11,418,2021-11-16

In [14]:
#Probe ob es geht --> leider nicht für  liège_data
dict_brussels  = brussels_data['records'][0]['fields']  # brussels_data in dict umwandeln
df_brussels_data= pd.DataFrame(dict_brussels) # in dataframe umwandeln

df_brussels_data

,province,total_in_ecmo,new_in,total_in_resp,region,geo_point_2d,new_out,total_in_icu,nr_reporting,total_in,date
0,Brussels,11,40,45,Brussels,50.836566,42,75,15,377,2021-11-16
1,Brussels,11,40,45,Brussels,4.369434,42,75,15,377,2021-11-16

In [15]:
df_west_vlaanderen_data.index[1]

1

In [20]:
for key in dict_brussels:
    print(key, ":", dict_brussels[key])

province : Brussels
total_in_ecmo : 11
new_in : 40
total_in_resp : 45
region : Brussels
geo_point_2d : [50.8365663663, 4.36943412254]
new_out : 42
total_in_icu : 75
nr_reporting : 15
total_in : 377
date : 2021-11-16

Wie kann ich mir nur bestimmte Werte ausgeben lassen? (Aus der Tabelle) 
Warum geht die Abfrage für Liège nicht? Aber für andere schon?