In [8]:
#Amkes Code umgeschrieben, da ich gerade nur die Inzidenz brauche und sie noch weitere Werte herausgezogen hat
import requests, json

def get_data_by_id(id):
    url = "https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/rki_key_data_v/FeatureServer/0/query?"
    
    parameter = {
        'referer':'https://www.mywebapp.com',
        'user-agent':'python-requests/2.9.1',
        'where': f'AdmUnitId = {id}', # Welche landkreise sollen zurück gegeben werden
        'outFields': '*', # Rückgabe aller Felder
        'returnGeometry': False, # Keine Geometrien
        'f':'json', # Rückgabeformat, hier JSON
        'cacheHint': True # Zugriff über CDN anfragen
    }
    result3 = requests.get(url=url, params=parameter) #Anfrage absetzen
    resultjson3 = json.loads(result3.text) # Das Ergebnis JSON als Python Dictionary laden
    return float(resultjson3['features'][0]['attributes']['Inz7T'])

In [2]:
#irrelevant für Datenbank
import pandas as pd

# als dictionary
# Region Hannover
# Regionalverband Saarbrücken
große_staedte= {'AdminUnitId': {
  'Berlin': 11,
  'Berlin-Mitte': 11001,  
  'München': 9162,
  'Hamburg': 2000,
  'Köln': 5315,
  'Frankfurt': 6412,
  'Stuttgart': 8111,
  'Düsseldurf': 5111,
  'Dortmund': 5913,
  'Essen': 5113, 
  'Bremen': 4011,
  'Dresden': 14612,
  'Erfurt': 16051,
  'Hannover': 3241,
  'Kiel': 1002,
  'Magdeburg': 15003,
  'Mainz': 7315,
  'Potsdam': 12054,
  'Saarbruecken': 10041,
  'Schwerin': 13004,
  'Wiesbaden': 6414, }}

# umwandlung in dataframe
df_gr_staedte= pd.DataFrame(große_staedte)
df_gr_staedte

              AdminUnitId
Berlin                 11
Berlin-Mitte        11001
Dortmund             5913
Düsseldurf           5111
Essen                5113
Frankfurt            6412
Hamburg              2000
Köln                 5315
München              9162
Stuttgart            8111

In [3]:
berlin_data= get_data_by_id(11)
berlin_mitte_data= get_data_by_id(11001)
dortmund_data= get_data_by_id(5913)
duesseldorf_data= get_data_by_id(5111)
essen_data= get_data_by_id(5113)
frankfurt_data= get_data_by_id(6412)
hamburg_data= get_data_by_id(2000)
koeln_data= get_data_by_id(5315)
muenchen_data= get_data_by_id(9162)
stuttgart_data= get_data_by_id(6412)
bremen_data= get_data_by_id(4011)
dresden_data= get_data_by_id(14612)
erfurt_data= get_data_by_id(16051)
hannover_data= get_data_by_id(3241)
kiel_data= get_data_by_id(1002)
magdeburg_data= get_data_by_id(15003)
mainz_data= get_data_by_id(7315)
potsdam_data= get_data_by_id(12054)
saarbruecken_data= get_data_by_id(10041)
schwerin_data= get_data_by_id(13004)
wiesbaden_data= get_data_by_id(6414)
#print(berlin_data)
berlin_mitte_data_string = json.dumps(berlin_mitte_data)
print(berlin_mitte_data_string)
berlin_mitte_data_float = float(berlin_mitte_data_string);
print(berlin_mitte_data_float)

373.0
373.0

In [9]:
#Verbindung zur Datenbank aufbauen
# Importing module
import mysql.connector
 
# Creating connection object
inzdb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    db = "inzidenzen"
)
 
# Printing the connection object
print(inzdb)

<mysql.connector.connection.MySQLConnection object at 0x0000012F404C8E80>

In [7]:
#Einfügen des tagesaktuellen Inzidenzwerte der zehn größten Städte
#Tabelle Berlin-Mitte ist zum Testen
from datetime import datetime
from datetime import timedelta
from time import mktime
now = datetime.now()
current_date = now.strftime('%Y-%m-%d') #Ausgabe formatieren
cursor = inzdb.cursor()

#cursor.execute("INSERT INTO `inzidenzen_deutschland_berlin_mitte`(`datum`, `inzidenz`) VALUES (NOW(), 355.5)")

#add_inzidenz_berlin_mitte="""INSERT INTO inzidenzen_deutschland_berlin_mitte (datum, inzidenz) VALUES(%s, %s)"""
#cursor.execute(add_inzidenz_berlin_mitte, ('2021-11-18', '1.1'))

add_inzidenz_berlin="""INSERT INTO inzidenzen_deutschland_berlin (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_berlin, (current_date, berlin_data))

add_inzidenz_berlin_mitte="""INSERT INTO inzidenzen_deutschland_berlin_mitte (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_berlin_mitte, (current_date, berlin_mitte_data))

add_inzidenz_hamburg="""INSERT INTO inzidenzen_deutschland_hamburg (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_hamburg, (current_date, hamburg_data))

add_inzidenz_koeln="""INSERT INTO inzidenzen_deutschland_koeln (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_koeln, (current_date, koeln_data))

add_inzidenz_muenchen="""INSERT INTO inzidenzen_deutschland_muenchen (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_muenchen, (current_date, muenchen_data))

add_inzidenz_frankfurt="""INSERT INTO inzidenzen_deutschland_frankfurt (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_frankfurt, (current_date, frankfurt_data))

add_inzidenz_duesseldorf="""INSERT INTO inzidenzen_deutschland_duesseldorf (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_duesseldorf, (current_date, duesseldorf_data))

add_inzidenz_dortmund="""INSERT INTO inzidenzen_deutschland_dortmund (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_dortmund, (current_date, dortmund_data))

add_inzidenz_stuttgart="""INSERT INTO inzidenzen_deutschland_stuttgart (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_stuttgart, (current_date, stuttgart_data))

add_inzidenz_essen="""INSERT INTO inzidenzen_deutschland_essen (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_essen, (current_date, essen_data))

add_inzidenz_bremen="""INSERT INTO inzidenzen_deutschland_bremen (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_bremen, (current_date, bremen_data))

add_inzidenz_dresden="""INSERT INTO inzidenzen_deutschland_dresden (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_dresden, (current_date, dresden_data))

add_inzidenz_erfurt="""INSERT INTO inzidenzen_deutschland_erfurt (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_erfurt, (current_date, erfurt_data))

add_inzidenz_hannover="""INSERT INTO inzidenzen_deutschland_hannover (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_hannover, (current_date, hannover_data))

add_inzidenz_kiel="""INSERT INTO inzidenzen_deutschland_kiel (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_kiel, (current_date, kiel_data))

add_inzidenz_magdeburg="""INSERT INTO inzidenzen_deutschland_magdeburg (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_magdeburg, (current_date, magdeburg_data))

add_inzidenz_mainz="""INSERT INTO inzidenzen_deutschland_mainz (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_mainz, (current_date, mainz_data))

add_inzidenz_potsdam="""INSERT INTO inzidenzen_deutschland_potsdam (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_potsdam, (current_date, potsdam_data))

add_inzidenz_saarbruecken="""INSERT INTO inzidenzen_deutschland_saarbruecken (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_saarbruecken, (current_date, saarbruecken_data))

add_inzidenz_schwerin="""INSERT INTO inzidenzen_deutschland_schwerin (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_schwerin, (current_date, schwerin_data))

add_inzidenz_wiesbaden="""INSERT INTO inzidenzen_deutschland_wiesbaden (datum, inzidenz) VALUES(%s, %s)"""
cursor.execute(add_inzidenz_wiesbaden, (current_date, wiesbaden_data))

cursor.close();
inzdb.commit()

#Datensätze auslesen
#cursor = inzdb.cursor()
#cursor.execute("select * from inzidenzen_deutschland_hamburg")
#cursor.execute("select * from inzidenzen_deutschland_koeln")
#cursor.execute("select * from inzidenzen_deutschland_muenchen")
#result = cursor.fetchall()
#cursor.close()

#for data in result:
#    print("Datum: " + str(data[0]) + "; Inzidenz: " + str(data[1]))

In [10]:
#Löschen von allen Werten, die mehr als 14 Tage zurückliegen

import datetime as d
from datetime import datetime
from datetime import timedelta
from time import mktime
now = datetime.now()
current_date = now.strftime('%Y-%m-%d') #Ausgabe formatieren
cursor = inzdb.cursor()

#print (d.date.today())
delete_date=d.date.today() - d.timedelta(14)
print("Es wurden alle Werte gelöscht, die vor diesem Datum liegen:")
print (delete_date)


delete_inzidenz_berlin_mitte="""DELETE FROM inzidenzen_deutschland_berlin_mitte WHERE datum<%s"""
cursor.execute(delete_inzidenz_berlin_mitte, (delete_date, ))

delete_inzidenz_berlin="""DELETE FROM inzidenzen_deutschland_berlin WHERE datum<%s"""
cursor.execute(delete_inzidenz_berlin, (delete_date, ))

delete_inzidenz_dortmund="""DELETE FROM inzidenzen_deutschland_dortmund WHERE datum<%s"""
cursor.execute(delete_inzidenz_dortmund, (delete_date, ))

delete_inzidenz_duesseldorf="""DELETE FROM inzidenzen_deutschland_duesseldorf WHERE datum<%s"""
cursor.execute(delete_inzidenz_duesseldorf, (delete_date, ))

delete_inzidenz_essen="""DELETE FROM inzidenzen_deutschland_essen WHERE datum<%s"""
cursor.execute(delete_inzidenz_essen, (delete_date, ))

delete_inzidenz_frankfurt="""DELETE FROM inzidenzen_deutschland_frankfurt WHERE datum<%s"""
cursor.execute(delete_inzidenz_frankfurt, (delete_date, ))

delete_inzidenz_hamburg="""DELETE FROM inzidenzen_deutschland_hamburg WHERE datum<%s"""
cursor.execute(delete_inzidenz_hamburg, (delete_date, ))

delete_inzidenz_koeln="""DELETE FROM inzidenzen_deutschland_koeln WHERE datum<%s"""
cursor.execute(delete_inzidenz_koeln, (delete_date, ))

delete_inzidenz_muenchen="""DELETE FROM inzidenzen_deutschland_muenchen WHERE datum<%s"""
cursor.execute(delete_inzidenz_muenchen, (delete_date, ))

delete_inzidenz_stuttgart="""DELETE FROM inzidenzen_deutschland_stuttgart WHERE datum<%s"""
cursor.execute(delete_inzidenz_stuttgart, (delete_date, ))

delete_inzidenz_bremen="""DELETE FROM inzidenzen_deutschland_bremen WHERE datum<%s"""
cursor.execute(delete_inzidenz_bremen, (delete_date, ))

delete_inzidenz_dresden="""DELETE FROM inzidenzen_deutschland_dresden WHERE datum<%s"""
cursor.execute(delete_inzidenz_dresden, (delete_date, ))

delete_inzidenz_erfurt="""DELETE FROM inzidenzen_deutschland_erfurt WHERE datum<%s"""
cursor.execute(delete_inzidenz_erfurt, (delete_date, ))

delete_inzidenz_hannover="""DELETE FROM inzidenzen_deutschland_hannover WHERE datum<%s"""
cursor.execute(delete_inzidenz_hannover, (delete_date, ))

delete_inzidenz_kiel="""DELETE FROM inzidenzen_deutschland_kiel WHERE datum<%s"""
cursor.execute(delete_inzidenz_kiel, (delete_date, ))

delete_inzidenz_magdeburg="""DELETE FROM inzidenzen_deutschland_magdeburg WHERE datum<%s"""
cursor.execute(delete_inzidenz_magdeburg, (delete_date, ))

delete_inzidenz_mainz="""DELETE FROM inzidenzen_deutschland_mainz WHERE datum<%s"""
cursor.execute(delete_inzidenz_mainz, (delete_date, ))

delete_inzidenz_potsdam="""DELETE FROM inzidenzen_deutschland_potsdam WHERE datum<%s"""
cursor.execute(delete_inzidenz_potsdam, (delete_date, ))

delete_inzidenz_saarbruecken="""DELETE FROM inzidenzen_deutschland_saarbruecken WHERE datum<%s"""
cursor.execute(delete_inzidenz_saarbruecken, (delete_date, ))

delete_inzidenz_schwerin="""DELETE FROM inzidenzen_deutschland_schwerin WHERE datum<%s"""
cursor.execute(delete_inzidenz_schwerin, (delete_date, ))

delete_inzidenz_wiesbaden="""DELETE FROM inzidenzen_deutschland_wiesbaden WHERE datum<%s"""
cursor.execute(delete_inzidenz_wiesbaden, (delete_date, ))

cursor.close()
inzdb.commit()

#Werte auslesen
#cursor = inzdb.cursor()
#cursor.execute("select * from inzidenzen_deutschland_berlin WHERE datum=2021-12-09")
#result = cursor.fetchall()
#cursor.close()

#for data in result:
#    print("Datum: " + str(data[0]) + "; Inzidenz: " + str(data[1]))

Löschen aller werte, die vor diesem Datum liegen:
2021-11-26